@model IEnumerable<TestApp.Models.Contact>

@{
    ViewBag.Title = "Contacts";
    Layout = "_Layout";
}

<h1>All contacts:</h1>
<button id="open-modal" type="button" class="btn btn-lg btn-primary">Add new contact</button>
<div id="myModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add new contact</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">	
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" action="/HomeController/AddContact" class="form-container" onsubmit="return validate('addContact');">
				<div class="modal-body">
					<div name="myForm" class="form-popup" id="myForm">
	        
						<input type='text' name="name" id="name" class='name field' placeholder="Name"/>
						<input type='text' name="phone" id="phone" class='phone field' placeholder="Phone"/>
						<input type='text' name="jobTitle" id="jobTitle" class='jobTitle field' placeholder="JobTitle"/>
						<input type='text' name="birthDate" id="birthDate" class='birthDate field' placeholder="BirthDate"/>
		        
					</div>
				</div>
					
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row mt-5 mb-2">
	@{
		foreach (var contact in Model)
		{
			<div class="box">
				
				<h2 class="contact-name">@contact.Name</h2>
				<h5 class="contact-phone">Phone: @contact.MobilePhone</h5>
				<h5 class="contact-jobTitle">Job title: @contact.JobTitle</h5>
				<h5 class="contact-birthDate">Birth date: @contact.BirthDate.ToString("dd/MM/yyyy")</h5>
				<input type="hidden" id="contact-id" value="@contact.Id"/>
				<p><a id="open-modal-edit" class="btnFormEdit btn btn-warning" href="#">Edit</a> <a class="btn btn-warning" href="/HomeController/Delete/{@contact.Id}">Delete</a></p>

			</div>
		}
	}
</div>

<div id="myModalEdit" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h5 class="modal-title">Edit contact</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
					
			<form method="post" action="/HomeController/EditContact" class="form-container" onsubmit=" return validate('editContact');">
				<div class="modal-body">
					<div name="myForm" class="form-popup" id="myForm-edit">
						<input type="hidden" id="id-edit" name="id" value="100500"/>
						<input type='text' name="name" id="name-edit" class='name field' placeholder="Name"/>
						<input type='text' name="phone" id="phone-edit" class='phone field' placeholder="Phone"/>
						<input type='text' name="jobTitle" id="jobTitle-edit" class='jobTitle field' placeholder="JobTitle"/>
						<input type='text' name="birthDate" id="birthDate-edit" class='birthDate field' placeholder="BirthDate"/>
					</div>
				</div>
					
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Edit</button>
					<button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
				</div>
					
			</form>
					
		</div>
	</div>
</div>